<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bootstrap Double Sidebar</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Left Sidebar -->
        <div id="left-sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <font color="green">Menu</font>
                </li>
                <li>
                    <a data-toggle="collapse" href="#Search" aria-expanded="false">Search <span class="caret"></span></a>
                    <div class="collapse sub-bar" id="Search">
                        <form>
                            <input style="width: 90%;" type="text" class="form-control" placeholder="Name song, artist, genre...">
                        </form>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#Songs" aria-expanded="false">Songs <span class="caret"></span></a>
                    <div class="collapse sub-bar" id="Songs">
                        <a href="#">Duration </a>
                        <a href="#">Artist </a>
                        <a data-toggle="collapse" href="#Genre" aria-expanded="false">Genre <span class="caret"></span></a>
                        <div class="collapse sub-bar" id="Genre">
                            <a href="#">Rock</a>
                            <a href="#">Pop</a>
                        </div>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#Lists" aria-expanded="false">Lists <span class="caret"></span></a>
                    <div class="collapse sub-bar" id="Lists">
                        <a href="#">List1</a>
                        <a href="#">List2</a>
                        <a href="#">List3</a>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#Radios" aria-expanded="false">Radios <span class="caret"></span></a>
                    <div class="collapse sub-bar" id="Radios">
                        <a href="#">RadioA</a>
                        <a href="#">RadioB</a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /#left-sidebar-wrapper -->

        <!-- Right Sidebar -->
        <div id="right-sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">Right Sidebar</a>
                </li>

                <li>
                    <a data-toggle="collapse" href="#recent-search" aria-expanded="false">Recent Search <span class="caret"></span></a>
                    <div class="collapse in sub-bar" id="recent-search">
                        <a href="#">Keyword 1</a>
                        <a href="#">Keyword 2</a>
                        <a href="#">Keyword 3</a>
                        <a href="#">Keyword 4</a>
                    </div>
                </li>
        </div>
        <!-- /#right-sidebar-wrapper -->

        <!-- Toggle Buttons -->
        <a href="#left-menu-toggle" class="btn btn-link btn-md" id="left-menu-toggle"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a href="#right-menu-toggle" class="btn btn-link btn-md" id="right-menu-toggle"><span class="glyphicon glyphicon-chevron-right"></span></a>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row"> <div id="page-content-wrapper">
                    <div class="container-fluid">
                        <table class="table table-striped" border="2">
                            <tr>
                                <th>#</th>
                                <th>Canción</th>
                                <th>Álbum</th>
                                <th>Artista</th>
                                <th>Género</th>
                                <th>Duración</th>
                                <th>Fecha</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>PokeRap</td>
                                <td>Rattata</td>
                                <td>Pidgey</td>
                                <td>Rap(?</td>
                                <td>Tantos rattatas y pidgeys que existan</td>
                                <td>Hoy</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Otra</td>
                                <td>Potatoe</td>
                                <td>Papa</td>
                                <td>Si</td>
                                <td>No</td>
                                <td>Ayer</td>
                            </tr>
                        </table>
                    </div>
                </div>
                </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#left-menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("left-toggled");
    });

    $("#right-menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("right-toggled");
    });
    </script>

</body>

</html>
