@(listSongs: Seq[models.entities.SongsWithGenre])

<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Definitely Not Spotify</title>

        <link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.versioned("stylesheets/styles.css")">

            <!-- Bootstrap Core CSS -->
        <link href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")" rel="stylesheet">

            <!-- Custom CSS -->
        <link href="@routes.Assets.versioned("stylesheets/simple-sidebar.css")" rel="stylesheet">

            <!-- Audio CSS -->

            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->

        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/buttonAction.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery-1.10.2.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/mediaelement-and-player.min.js")"></script>

    </head>

    <body style="background: #E7E7E7" onload="ajaxmenuplaylist();">
        <div id="wrapper">
                <!-- Left Sidebar -->
            <div id="left-sidebar-wrapper">
                <ul class="sidebar-nav" style="background: #BFACBD">
                    <li class="sidebar-brand" style="color: #8A036E">
                        <h1>Menu</h1>
                    </li>
                    <li>
                        <a data-toggle="collapse" href="#Search" aria-expanded="false">Search <span class="caret"></span></a>
                        <div class="collapse sub-bar" id="Search">
                            <form>
                                <input style="background:#000000; width: 90%;" type="text" class="form-control" placeholder="Name song, artist, genre...">
                            </form>
                        </div>
                    </li>
                    <li>
                        <a href="/">All songs </a>
                    </li>
                    <li>
                        <a data-toggle="collapse" href="#Lists" aria-expanded="false">Lists <span class="caret"></span></a>
                        <div class="collapse sub-bar" id="Lists">

                    </div>
                    </li>
                    <li>
                        <a data-toggle="collapse" href="#Radios" aria-expanded="false">Radios <span class="caret"></span></a>
                        <div class="collapse sub-bar" id="Radios">
                            <a href="#">RadioA</a>
                            <a href="#">RadioB</a>
                        </div>
                    </li>
                </ul>
            </div>
                <!-- /#left-sidebar-wrapper -->

                <!-- Footer Sidebar -->
            <div class="my-panel-group" id="accordion" style="height: 130px">
                <div class="audio-player" style="background: #BFACBD; width: 700px; margin-top: 25px">
                    <h2 id="song-name" style="color: #8A036E"></h2>
                    <audio id="audio-player" src="@routes.Assets.versioned("songs/Welcome.mp3")" type="audio/mp3" controls="controls"></audio>
                </div><!-- end .audio-player -->
            </div>
                <!-- /#right-sidebar-wrapper -->

                <!-- Toggle Buttons -->
            <a href="#left-menu-toggle" class="btn btn-link btn-md" id="left-menu-toggle" style="background-color: #BFACBD; height: 130px; width: 250px; ">
                <img src="@routes.Assets.versioned("images/Logo-trans2.png")" width=100px height=100px style="margin-left: -30px">
            </img>
            </a>

                <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div style="overflow-y:scroll; overflow-x:hidden; height:480px;">
                                <table id="songsTable" class="table table-striped" border="2" style="background: #EABBFA">
                                    <thead>
                                        <td><b>Play</b></td>
                                        <td><b>Title</b></td>
                                        <td><b>Artist</b></td>
                                        <td><b>Album</b></td>
                                        <td><b>Genre</b></td>
                                        <td><b>Released</b></td>
                                        <td><b>Remove</b></td>
                                    </thead>
                                    <tbody>
                                    @for(song <- listSongs){
                                        <tr>
                                            <td class="center">
                                                <button onclick='playSong(@song.id)'>
                                                    <img src="@routes.Assets.versioned("images/Play song.png")" width="20px" height="20px">
                                                </button>
                                            </td>
                                            <td>@song.title</td>
                                            <td>@song.artist</td>
                                            <td>@song.album</td>
                                            <td>@song.genre</td>
                                            <td class="center">@song.released</td>
                                            <td class="center">
                                                <button onclick='removeSong(@song.id)'>
                                                    <img src="@routes.Assets.versioned("images/Delete from list.png")" width="20px" height="20px">
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <!-- /#page-content-wrapper -->
        </div>
            <!-- /#wrapper -->

            <!-- jQuery -->


            <!-- Bootstrap Core JavaScript -->
        <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>

            <!-- Menu Toggle Script -->
        <script>
    $("#left-menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("left-toggled");
    });

    </script>

        <script type="text/javascript">
        $(function(){
            $('#audio-player').mediaelementplayer({
                alwaysShowControls: true,
                features: ['playpause','progress','volume'],
                audioVolume: 'horizontal',
                audioWidth: 450,
                audioHeight: 70,
                iPadUseNativeControls: true,
                iPhoneUseNativeControls: true,
                AndroidUseNativeControls: true,
                background: 'blue'
            });
        });
    </script>

    </body>

</html>
